body
{
	font-family: 'Lato', sans-serif;
	margin: 0; /*Removes the margin of the sides*/
}

.main-header
{

}

.logo
{
	background-color: #32618D;
	text-align: center;
	padding-top: 8px; /*Gives more space between the content and the margin*/
	padding-bottom: 8px;
}

.social
{
	color: #8D9EBE;
	font-size: 28px;
	position: absolute; /*Put the element in the position you want*/
	top: 40px;
	right: 30px;
}

.social a
{
	color: #8D9EBE;
	margin-right: 10px;
	text-decoration: none;
}

.main-menu
{
	text-align: center;

}

.main-menu ul
{
	list-style: none;
}

.main-menu ul li
{
	display: inline-block; /*Display the list horinzontaly*/
	margin: 5px 10px;
}

.main-menu ul li a
{
	color: #1E3B71;
	font-weight: 700;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	transition: all 0.2s ease-in;
}

.main-menu ul li a:hover
{
	color: #8DABC2;
	border-bottom: 2px solid #8DABC2;
}

.slider img
{
	width: 100%;
}

.container
{
	margin: 0 auto;
	width: 1170px;
	overflow: hidden;

	display: flex;
	justify-content: space-between;
}


.oferta-academica .container
{
	display: flex;
	justify-content: space-around;
}

.title-section
{
	font-weight: 30px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.title-oferta-academica
{
	color: #32618D;
}

.card
{
	border: 1px solid #D6D2D2;
	border-radius: 5px;
	
	width: 30%;
	overflow: hidden;

	/*float: left;*/
	/*margin-left: 90px;*/
}

.card-hero
{
	position: relative;
}

.card-hero img
{
	width: 100%;
}

.btn-card-show /*Propieties of the button*/
{
	background-color: #FFB606;
	color: white;
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
	margin-left: -50px;
	text-align: center;
	text-decoration: none;
	position: 20px;
	height: 20px;
	width: 100px;
	top: 50%;
	left: 50%;
	position: absolute;
}

.btn-card-show:hover /*The two points needs to be close to the hover text to work*/
{
	background-color: #E0A006;
}

.card-hero:hover .btn-card-show
{
	display: block;
}

.card-title
{
	text-align: center;
}

.card-title::after
{
	content: ''; /*The final dot and coma is important, if you don't*/
	background-color: #1CA311; 
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	height: 1px;
	width: 60%;
}

.card-list
{
	color: #999999;
	list-style: none;
	text-align: center;
	padding-left: 0px;
}

.card-list
{
	padding-bottom: 5px;
}

.contact .container
{
	display: flex;
	justify-content: space-around;
}

.title-contact
{
	color: white;
	background-color: #8DABC2;
}

.img-contact
{
	margin: 0px;
}

.img-contact
{ 
	width: 100%;
}

.contact-form
{
	display: flex;
	flex-direction: column;
	/*padding: 0 20px 30px 20px; /*Up, bottom, left, right*/
	padding: 0 20px 30px;
}

.contact-form input[type="text"]
{
	display: block;
}

.form-control
{
	border: 1px solid #CCC;
	border-radius: 5px;
	font-size: 16px;
	width: 100%;
	margin: 7px 0;
	padding: 7px 0;
}

.btn-contact
{
	border-radius: 5px;
	background-color: #32618D;
	color: #FFB606;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer
{
	text-align: center;
	color: #FFB606;
	background-color: #32618D;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	margin-top: 10px;
}

@media screen and (max-width: 768)
{
	
}